header.header
    img.header__white-box(src=require('../../images/white-box.png') alt="white box image")
    img.header__give-emotions(src=require('../../images/give-emotions.png') alt="give emotions image")
    div.header__content.header-content.content
        p.header-content__text.header-content__text--accent ОРИГИНАЛЬНЫЙ СВЕТИЛЬНИК-НОЧНИК ОТ&nbsp;ПРОИЗВОДИТЕЛЯ
        p.header-content__text ДОСТАВКА ПО&nbsp;ВСЕЙ РОССИИ
    div.header__contacts.header-contacts
        ul.header-contacts__list.content
            li.header-contacts__item
                a.header-contacts__phone(href="tel:89993626000") +8 (999) 362-6000
            li.header-contacts__item.header-contacts__links-wrapper
                img.header-contacts__image(src=require('../../images/social-networks/viber.svg') alt="viber logo")
                img.header-contacts__image(src=require('../../images/social-networks/telegram.svg') alt="telegram logo")
                img.header-contacts__image(src=require('../../images/social-networks/whatsapp.svg') alt="whatsapp logo")
            li.header-contacts__item.header-contacts__item--border-bottom 24&nbsp;часа
            li.header-contacts__item
                a.header-contacts__link(href="mailto:Inwbox@mail.ru" title="Inwbox@mail.ru") Inwbox@mail.ru