div.information-modal-overlay-wrapper.information-modal-overlay-wrapper--closed(id="modal-comments")
    div.information-modal-overlay-wrapper__modal-overlay.information-modal-overlay-wrapper-modal-overlay.modal-overlay-reviews(id="modal-close-comments")
        div.information-modal-overlay-wrapper-modal-overlay__modal.modal-overlay-reviews__modal.modal-reviews
            h1.modal-reviews__title.title Отзывы
            button.modal-reviews__close-button(id="comments-close-button")
            div.modal-reviews__slider.modal-reviews-slider
                div.modal-reviews-slider__item
                    div.modal-reviews__card
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                    div.modal-reviews__card.modal-reviews__card--order
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                div.modal-reviews-slider__item
                    div.modal-reviews__card
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                    div.modal-reviews__card.modal-reviews__card--order
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                div.modal-reviews-slider__item
                    div.modal-reviews__card
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                    div.modal-reviews__card.modal-reviews__card--order
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                div.modal-reviews-slider__item
                    div.modal-reviews__card
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова
                    div.modal-reviews__card.modal-reviews__card--order
                        img.modal-reviews__image(src=require('../../images/reviews/reviews-image.png') alt="Photo")
                        div.modal-reviews__content-wrapper
                            p.modal-reviews__content.content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium unde cumque dicta alias, vero aut voluptas sapiente accusantium a, officiis ut dolores. Aut facere, quis magnam minus impedit rerum animi?
                            h1.modal-reviews__name.title Анна Степанова

