div.lamp
    div.lamp__slider.lamp-slider
        div.lamp__slider-item.lamp-slider__item
            img.lamp__image.lamp-slider__image(src=require('../../images/lamp/lamp-1.png') alt="First lamp")
        div.lamp__slider-item.lamp-slider__item
            img.lamp__image.lamp-slider__image(src=require('../../images/lamp/lamp-1.png') alt="First lamp")
        div.lamp__slider-item.lamp-slider__item
            img.lamp__image.lamp-slider__image(src=require('../../images/lamp/lamp-1.png') alt="First lamp")
        div.lamp__slider-item.lamp-slider__item
            img.lamp__image.lamp-slider__image(src=require('../../images/lamp/lamp-1.png') alt="First lamp")
        div.lamp__slider-item.lamp-slider__item
            img.lamp__image.lamp-slider__image(src=require('../../images/lamp/lamp-1.png') alt="First lamp")