{% extends 'InWhiteBoxBundle:Admin:admin.html.twig' %}
{% block title %}Каталог{% endblock %}
{% block body %}
    <h1>Каталог</h1>
    <div class="row_margin">
        <a href="{{ path('catalog_new') }}" class="btn btn-success">Создать новый элемент каталога</a>
    </div>
    <table id="catalog" class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th colspan="2">Название</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for catalog_element in catalog%}
            <tr>
                <td colspan="2"><a href="{{ path('catalog_show', { 'id': catalog_element['product'].id }) }}">{{ catalog_element['product'].name }}</a></td>
                <td>
                    <a href="{{ path('catalog_edit', { 'id': catalog_element['product'].id }) }}" class="col col-md-2 btn btn-primary">Редактировать</a>
                    {{ form_start(catalog_element['deleteForm'],{'attr':{'class':'col col-md-2'}}) }}
                        <input type="submit" value="Удалить" class="btn btn-danger">
                    {{ form_end(catalog_element['deleteForm']) }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
