{% extends 'InWhiteBoxBundle:Admin:admin.html.twig' %}
{% block title %}Новый товар{% endblock %}
{% block body %}
    <h1>Новый товар</h1>
    {{ form_start(form) }}
    <div class="form-group row">
        <div class="col-lg-12">
            <div class="col-md-3">
                <div class="document_img">
                    <img id="image" class="img-thumbnail" src="http://placehold.it/500x300" alt=""/>
                </div>
            </div>
            <div class="col-sm-9">
                {% if form_errors(form.name) %}
                    <label>{{ form_errors(form.name) }}</label>
                {% endif %}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                {% if form_errors(form.name) %}
                    <label>{{ form_errors(form.description) }}</label>
                {% endif %}
                <div class="form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
                {% if form_errors(form.price) %}
                    <label>{{ form_errors(form.price) }}</label>
                {% endif %}
                <div class="form-group">
                    {{ form_label(form.price) }}
                    {{ form_widget(form.price) }}
                </div>
                {% if form_errors(form.picture) %}
                    <label>{{ form_errors(form.picture) }}</label>
                {% endif %}
                <div class="form-group" id="picture">
                    <label class="btn btn-default btn-file btn-lg">Выберите файл
                        {{ form_widget(form.picture, {'attr':{'class':'hidden'}}) }}
                    </label>
                </div>
                <input class="btn btn-default" type="submit" value="Создать"/>
                <a class="btn btn-default" href="{{ path('catalog_index') }}">К списку</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('admin/js/jquery.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
        $("#kambundle_news_picture").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}