{% extends 'InWhiteBoxBundle:Admin:admin.html.twig' %}
{% block title %}Новый товар{% endblock %}
{% block body %}
    <h1>Новый товар</h1>
    <div class="container col-lg-8">
        {{ form_start(form) }}
        {% if form_errors(form.name) %}
            <label>{{ form_errors(form.name) }}</label>
        {% endif %}
        <div class="form-group row">
            {{ form_label(form.name, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
            <div class="col-10">
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {% if form_errors(form.description) %}
            <label>{{ form_errors(form.description) }}</label>
        {% endif %}
        <div class="form-group row">
            {{ form_label(form.description, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
            <div class="col-10">
                {{ form_widget(form.description, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        {% if form_errors(form.price) %}
            <label>{{ form_errors(form.price) }}</label>
        {% endif %}
        <div class="form-group row">
            <div class="col col-sm-1">
                {{ form_label(form.price, null, {'label_attr': {'class': 'col-2 col-form-label'}}) }}
            </div>
            <div class="col col-sm-2">
                {{ form_widget(form.price, { 'attr': {'class': 'form-control col-2'} }) }}
            </div>
        </div>

        <div class="form-group row">
            <div class="col col-md-6">
                <div class="document_img">
                    <img id="image" class="img-thumbnail" src="http://placehold.it/500x300" alt=""/>
                </div>
            </div>
            <div class="col col-md-4">
                {% if form_errors(form.pictureCollection) %}
                    <label>{{ form_errors(form.pictureCollection) }}</label>
                {% endif %}
                <div class="form-group" id="mainPicture">
                    <label class="btn btn-default btn-file btn-lg">Выберите файл
                        {{ form_widget(form.mainPicture, {'attr':{'class':'hidden'}}) }}
                    </label>
                </div>
                {% if form_errors(form.pictureCollection) %}
                    <label>{{ form_errors(form.pictureCollection) }}</label>
                {% endif %}
                <div class="form-group" id="pictureCollection">
                    <label class="btn btn-default btn-file btn-lg">Выберите файлы
                        {{ form_widget(form.pictureCollection, {'attr':{'class':'hidden'}}) }}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Создать"/>
            <a class="btn btn-primary" href="{{ path('catalog_index') }}">К списку</a>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('admin/js/jquery.js') }}"></script>
    <script src="{{ asset('admin/js/bootstrap.min.js') }}"></script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#inwhiteboxbundle_catalog_mainPicture").change(function () {
            readURL(this);
        });
    </script>
{% endblock %}