{% extends '@InWhiteBox/Admin/admin.html.twig' %}
{% block title %}Продукт{% endblock %}
{% block body %}
    <h1>Продукт</h1>
    <div class="col-sm-10">
        <div class="row row_margin">
            <div class="col-sm-3">Название</div>
            <div class="col-sm-7">
                {% autoescape %}
                    {{ product.name|raw }}
                {% endautoescape %}
            </div>
        </div>
        <div class="row row_margin">
            <div class="col-sm-3">Описание</div>
            <div class="col-sm-10"></div>
        </div>
        <div class="row row_margin">
            <ul class="list-inline">
                <li>
                    <button class="btn">
                        <a href="{{ path('catalog_edit', { 'id': product.id }) }}">Редактировать</a>
                    </button>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Удалить" class="btn">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <a href="{{ path('catalog_index') }}">К списку</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
