{% extends '@InWhiteBox/Admin/admin.html.twig' %}
{% block title %}Продукт{% endblock %}
{% block body %}
    <h1>Продукт</h1>
    <div class="col-sm-10">
        <div class="row row_margin">
            <ul class="list-inline">
                <li>
                    <button class="btn">
                        <a href="{{ path('catalog_edit', { 'id': product.id }) }}">Редактировать</a>
                    </button>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Удалить" class="btn">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
            <br>
            <ul>
                <li>
                    <a href="{{ path('catalog_index') }}">К списку</a>
                </li>
            </ul>
        </div>
        <div class="row row_margin">
            <div class="col col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">Название</div>
                    <div class="panel-body">
                        {% autoescape %}
                            {{ product.name|raw }}
                        {% endautoescape %}
                    </div>
                </div>
            </div>
            <div class="col col-md-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Описание</div>
                    <div class="panel-body">{{ product.description }}</div>
                </div>
            </div>
        </div>
        <div class="row row_margin">
            <div class="col col-md-9">
                <div class="panel panel-default">
                    <div class="panel-heading">Изображение</div>
                    <div class="panel-body ce">
                        <img src="{{ absolute_url(asset('uploads/products/' ~ product.picture ~ '/' ~ product.mainPicture)) }}"
                             class="thumbnail admin_image-main center-block">
                    </div>
                </div>
            </div>
        </div>
        <div class="row row_margin">
            <div class="col-sm-2">Изображения</div>
        </div>
        <div class="row">
            {% for image in product.pictureCollection %}
                <div class="card">
                    <img class="admin_image"
                         src="{{ absolute_url(asset('uploads/products/' ~ product.picture ~ '/' ~ image)) }}"
                         alt="">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
