div.delivery(id="delivery")
    h1.delivery__title.title доставка и&nbsp;оплата
    ul.delivery__list.delivery-list
        li.delivery-list__item
            div.delivery-list__image-wrapper
                img.delivery-list__image.delivery-list__image--curriculum(src=require('../../images/delivery/curriculum.svg') alt="curriculum image")
            p.delivery-list__content.content Для оформления заказа необходимо оставить заявку на&nbsp;нашем сайте.
        li.delivery-list__item
            div.delivery-list__image-wrapper
                img.delivery-list__image.delivery-list__image--curriculum(src=require('../../images/delivery/wallet.svg') alt="wallet image")
            p.delivery-list__content.content Оплатить заказ возможно через такие платежные сервисы как: &laquo;Сбербанк Онлайн&raquo;, Qiwi, Яндекс деньги, наложенным платежом (при получении товара).
        li.delivery-list__item
            div.delivery-list__image-wrapper
                img.delivery-list__image.delivery-list__image--dropbox(src=require('../../images/delivery/dropbox-logo.svg') alt="dropbox image")
            p.delivery-list__content.content Светильник надежно упаковывается в&nbsp;пенопласт и&nbsp;гофрированный картон. Изготовление и&nbsp;отгрузка в&nbsp;течение 1-2 рабочих дней.
        li.delivery-list__item
            div.delivery-list__image-wrapper
                img.delivery-list__image.delivery-list__image--fast-delivery(src=require('../../images/delivery/fast-delivery.svg') alt="fast-delivery image")
            p.delivery-list__content.content Заказы отправляем службами доставки: СДЭК, ПЭК, Деловые Линии, &laquo;Байкал Сервис&raquo; или &laquo;Почта России&raquo; по&nbsp;пожеланию клиента. Доставка до&nbsp;пункта самовывоза, обычно, не&nbsp;превышает 300&nbsp;руб. Рассчитать точную сумму доставки вам помогут наши операторы.
        li.delivery-list__item
            div.delivery-list__image-wrapper
                img.delivery-list__image.delivery-list__image--earth(src=require('../../images/delivery/earth.svg') alt="earth image")
            p.delivery-list__content.content Мы&nbsp;работаем&nbsp;По всей территории России, а&nbsp;так&nbsp;же странам ближнего зарубежья.