div.gallery
    ul.gallery__list
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title.title дух леса
                p.gallery__price.title 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button.title просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title.title дух леса
                p.gallery__price.title 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button.title просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title.title дух леса
                p.gallery__price.title 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button.title просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title.title дух леса
                p.gallery__price.title 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button.title просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title.title дух леса
                p.gallery__price.title 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button.title просмотр
