div.gallery
    ul.gallery__list
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title дух леса
                p.gallery__price 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title дух леса
                p.gallery__price 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button просмотр
        li.gallery__item
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title дух леса
                p.gallery__price 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button просмотр
        li.gallery__item.gallery__item--margin-left
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title дух леса
                p.gallery__price 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button просмотр
        li.gallery__item.gallery__item--margin-right
            div.gallery__image-wrapper
                img.gallery__image(src=require('../../images/gallery/forest-spirit.png') alt="Forest Spirit Image")
            article.gallery__description
                h1.gallery__title дух леса
                p.gallery__price 1800
                    span.gallery__currency &nbsp;руб
            button.gallery__button просмотр
