div.modal-overlay
div.modal
    div.modal__card.card
        ul.card__list
            li.card__item.card__item--width
                img.card__large-image(src=require('../../images/gallery/house.png') alt="house image")
                div.card__slider.card-slider
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                    img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
            li.card__item.card__item--relative
                button.card__close-button close
                article.card__article
                    h1.card__title светитльник
                    p.card__subtitle такой-то такой
                    p.card__content В&nbsp;линейке пока только 5&nbsp;разных моделей. Ждем студийных фотографий, они должны быть готовы на&nbsp;следующей неделе.
                    p.card__content В&nbsp;линейке пока только 5&nbsp;разных моделей. Ждем студийных фотографий, они должны быть готовы на&nbsp;следующей неделе.
                    p.card__content В&nbsp;линейке пока только 5&nbsp;разных моделей. Ждем студийных фотографий, они должны быть готовы на&nbsp;следующей неделе.
                    p.card__price 1800
                        span.card__currency &nbsp;руб
                p.card__offer Закажи прямо сейчас!
                button.card__button купить