div.information-modal-overlay-wrapper.information-modal-overlay-wrapper--closed
    div.information-modal-overlay-wrapper__modal-overlay.information-modal-overlay-wrapper-modal-overlay.modal-overlay-gallery
        div.information-modal-overlay-wrapper-modal-overlay__modal.information-modal-overlay-wrapper-modal-overlay__modal--slider.modal-overlay-gallery__modal.modal-gallery
            h1.modal-gallery__title.title Галерея
            button.modal-gallery__close-button
            div.modal-gallery__slider.modal-gallery-slider
                div.modal-gallery-slider__item
                    div.modal-gallery__wrapper
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                div.modal-gallery-slider__item
                    div.modal-gallery__wrapper
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
                        div.modal-gallery__image-wrapper
                            img.modal-gallery__image(src=require('../../images/modal-gallery/gallery-lamp-image.png') alt="modal gallery image")
