div.modal-overlay.modal-overlay--closed
    div.modal-overlay__modal.modal
        div.modal__card.card
            ul.card__list
                li.card__item.card__item--width.card__item--margin-right
                    img.card__large-image(src=require('../../images/gallery/house.png') alt="house image")
                    div.card__slider.card-slider
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/house.png') alt="house image")
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src="https://pp.userapi.com/c638930/v638930863/2f3c3/QzK21uys4v8.jpg" alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src="https://pp.userapi.com/c624222/v624222330/4e2e9/zfd2ikyO_NY.jpg" alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src=require('../../images/gallery/forest-spirit.png') alt="forest-spirit image")
                        //img.card__small-image.card-slider__item(src="https://pp.userapi.com/c638930/v638930330/2cecb/_A3gm4Vx86I.jpg" alt="forest-spirit image")
                li.card__item.card__item--relative
                    button.card__close-button.modal-overlay__close-button
                    article.card__article
                        h1.card__title.main-title светитльник
                        p.card__subtitle.content такой-то такой
                        p.card__content.content В&nbsp;линейке пока только 5&nbsp;разных моделей. Ждем студийных фотографий, они должны быть готовы на&nbsp;следующей неделе.
                        p.card__price.title 1800
                            span.card__currency &nbsp;руб
                    p.card__offer.title Закажи прямо сейчас!
                    button.card__button.title.js-open-form-button купить